
    body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #02060a, #4e5257);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.url-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.url-form input {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.url-form button {
  padding: 10px;
  background-color: #95999d;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.url-form button:hover {
  background-color: #191b1c;
}

.result {
  margin-top: 25px;
  animation: fadeIn 0.2s ease-in;
}

.short-url-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.short-url-box input {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.short-url-box button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.short-url-box button:hover {
  background-color: #06330f;
}

.toast {
  position: fixed;
  bottom: 30px;
  background-color: #000;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  display: none;
  opacity: 0.9;
  font-size: 14px;
  animation: fadeUp 0.5s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}
